[gcode_macro CLEAN_NOZZLE]
description: Wipe the nozzle on the brush
gcode:
    # Set vars
    {% set St = printer["gcode_macro _User_Variables"].travel_speed * 60 %}
    {% set Sz = printer["gcode_macro _User_Variables"].z_drop_speed * 60 %}
    {% set Sc = printer["gcode_macro _User_Variables"].brush_clean_speed * 60 %}
    {% set Px = printer["gcode_macro _User_Variables"].purge_bucket_x %}
    {% set Py = printer["gcode_macro _User_Variables"].purge_bucket_y %}
    {% set Bx = printer["gcode_macro _User_Variables"].brush_x %}
    {% set By = printer["gcode_macro _User_Variables"].brush_y %}
    {% set Bz = printer["gcode_macro _User_Variables"].brush_z %}

    ; Move to purge zone (left side)
    G90
    G0 X{Px} Y{Py} Z{Bz} F{St}
    ; Move to center of the brush
    G0 X{Bx} Y{By} Z{Bz} F{St}

    ; Wipe procedure
    G91
    {% for wipe in range(6) %}
        G0 Y-5 F{Sc}
        G0 Y+5 F{Sc}
    {% endfor %}

    G0 X+20 F{Sc}
    {% for wipe in range(6) %}
        G0 X-40 F{Sc}
        G0 X+40 F{Sc}
    {% endfor %}

    G0 Z{Bz|int + 10} F{Sz}

    G90


[gcode_macro PURGE]
description: Purge a specific amount of filament ontop of the purge bucket
gcode:
    {% set DISTANCE = params.DISTANCE|default(30)|float %}
    {% set TEMP = params.TEMP|default(230)|float %}

    {% set St = printer["gcode_macro _User_Variables"].travel_speed * 60 %}
    {% set Px = printer["gcode_macro _User_Variables"].purge_bucket_x %}
    {% set Py = printer["gcode_macro _User_Variables"].purge_bucket_y %}
    {% set Pz = printer["gcode_macro _User_Variables"].purge_bucket_z %}

    # Move to purge zone (left side)
    G90
    G1 X{Px} Y{Py} Z{Pz} F{St}

    # Heat if needed and purge
    _LOW_TEMP_CHECK T={TEMP}
  
    G92 E0
    G1 E{DISTANCE|float} F150
    G4 P{5 * 1000}

    # Retract
    G92 E0
    G1 E-1.7 F2100
    G4 P{10 * 1000}
    G1 E-18.3 F150

    # Wait 5s to let the nozzle ooze before cleaning
    G4 P{5 * 1000}
    G1 E-5 F150
    G4 P{5 * 1000}
  
    G92 E0

## stop Klipper complaining when Cura sends a T0 command
[gcode_macro T0]
gcode: